body{
  color: #222;
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
}

.logo{
  font-weight: bolder;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.j-center{
  justify-content: center;
}

.payment div{
  margin: 20px;
}

.payment{
  justify-content: space-between;
}

.ticket .logo{
  text-align: center;
  margin-top: 10px;
}

.text-center{
  text-align: center;
}

.ticket{
  margin: 30px;
  width: 350px;
  height: 350px;
  font-weight: bolder;
  border: 1px solid rgb(240, 236, 236);
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: center;
}

.booking-header{
  font-size: 14px;
}

.booking-header p{
  margin: 5px;
}

.booking-header .btn{
  border-radius: 50%;
  width: 30px;
  height: 25px;
  padding: 0px;
  padding-top: 5px;
}

.bold{
  font-weight: bolder;
  margin: 0px;
}

.grey-hr{
  border-bottom: 1px solid rgb(231, 228, 228);
}

.bus-icon{
  font-size: 15px;
  margin-top: 10px;
}

.booking{
  width: 400px;
  padding: 25px;
  background: #efefef;
  border-radius: 10px;
  margin: 20px;
}

.booking .small-text{
  color: #444;
}

.circle1, .circle2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
}

.circle1{
  right: 34px;
}

.circle2{
  left: 34px;
}

.booking-timings{
  font-size: 13px;
}

.booking p{
  margin: 0px;
}

.green-hr{
  border: 1px dashed #222 !important;
}

.auth a, .logo a{
  margin: 20px;
  color: #222;
  text-decoration: none;
}

.calendar-container{
  display: inline-block;
}

.loginform{
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #222;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(98, 94, 94, 0.15) 4.4px 4.4px 6.2px;
}

.text-center{
  text-align: center;
  font-size: 20px;
}

.loginform input, .searchform input, .searchform select{
  display: inline-block;
  margin: 20px;
  height: 40px;
  width: 300px;
}

.btn{
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.css-ryrseu-MuiRating-root{
  color: #222 !important;
}

.auth-btn{
  width: 310px !important;
  background-color: #222;
  color: #fff;
  border: none;
  height: 40px !important;
  border-radius: 10px;
  letter-spacing: 2.5px;
  font-weight: 100;
  cursor: pointer;
  padding: 0px !important;
}

.auth-btn:disabled,
.auth-btn[disabled]
{
  background-color: #444;
  cursor: not-allowed;
}

.inputs{
  padding: 5px;
  color: #222;
  border: none;
  border-bottom: 1px solid #444;
}

.inputs:active{
  color: #222;
}

.eyeopen, .eyeclosed{
  margin-left: -40px;
  margin-bottom: -10px;
  font-size: 20px;
  cursor: pointer;
}

.searchform input, .searchform select{
  width: 356px !important;
  padding-left: 40px;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  background-image: url("./assets/bg4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-section div{
  flex: 1;
  text-align: center;
}

.hero-section img{
  width: 80%;
}

.block{
  display: block;
}

.m-0{
  margin: 0px !important;
  margin-bottom: 20px !important;
}

.icons{
  width: 35px !important;
  position: absolute !important;
  margin-top:10px ;
}

input:focus, select:focus{
  outline: none;
}

.body{
  height: 100vh;
  background-image: url("./assets/bg5.jpg");
  background-repeat: repeat-x;
  background-position:bottom;
}

.reverse-arrow{
  cursor: pointer;
}

.react-calendar__tile--active{
  background-color: #222 !important;
}

.routes{
  font-size: 14px;
  margin: 20px 65px;
}

.routes span{
  margin: 0px 10px;
}

.data-table{
  margin: 20px 60px;
  overflow-x: auto;
}

hr{
  border: 1px solid #d7d3d3 !important;
}

.links{
  color: #222 !important;
  font-size: 14px;
  text-align: right;
}

.small-text{
  font-size: 13px;
  text-align: center;
  color: #757474;
  font-weight: 100;
}

.ta-right{
  text-align: right;
  padding-right: 20px;
}

.Toastify{
  font-size: 14px !important;
}

.light-grey{
  color:#444 !important;
}

.seat{
  width: 40px;
  height: 80px;
  border: 1px solid #222;
  margin: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.display-section{
  display: flex;
  margin: 5px 15px;
  justify-content: center;
}

.display-section .seat{
  width: 60px !important;
  height: 30px !important;
  text-align: left !important;
  cursor: default !important;
}

.display-section .seat span{
  width: 4% !important;
  height: 60% !important;
  margin: 5px 10px;
}

.seat span{
  display: inline-block;
  width: 65%;
  height: 5%;
  border: 1px solid #222;
  border-radius: 5px;
}

.not-found{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found h1{
  font-size: 120px;
  margin: 10px;
  font-weight: 100;
}

.booked-female{
  border: 1px solid rgb(212, 69, 69) !important;
  background: rgb(230, 141, 141) !important;
  cursor: not-allowed;
}

.booked-female span{
  background: white !important;
  border: 1px solid white !important;
}

.booked-male{
  border: 1px solid rgb(69, 133, 212) !important;
  background: rgb(119, 164, 218) !important;
  cursor: not-allowed;
}

.booked-male span{
  background: white !important;
  border: 1px solid white !important;
}

.booked , .booked span{
  border: 1px solid rgb(150, 239, 150) !important;
}

.flex{
  display: flex;
}

.j-space-between{
  justify-content: space-between;
}

.bus{
  display: inline-block;
  text-align: center;
  padding: 20px 10px;
  border: 1px solid #222;
  border-top: 5px solid #444;
  margin-left: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.steering-icon{
  font-size: 30px;
}

.steering{
  text-align: right;
  padding: 0px 20px;
}

.seat-section{
  display: flex;
}

.seat-left, .seat-right{
  display: flex;
  margin: 10px;
}

@media(min-width:1000px ) {
  nav{
    padding:20px 50px;
  }
}

@media(max-width: 600px) {
  .hero-section{
    background-image: none;
  }
  .data-table{
    margin: 20px 20px;
  }
  .bus{
    margin-left: 0px !important;
  }
}